body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

*{
	padding: 0px;
	margin:0px;
}

a {
  color: #00B7FF;
}

/*Map*/
#mymap{
	width: 100vw;
	height:100vh;
}

.info-wrap{
	margin:2px;
	display:flex;
	justify-content:center;
	
}

.prop-img, .prop-info{
	flex:1;
	
}

.prop-img{
	padding-right:10px;
	
	
}

.thumb{
	width:100%;
	height:100%;
	
}